body p {
color: #898989;
}

h1, h2, h3, h4 {
color: #4b4b4b;
}

/*
NAVIGATION
*/
.navbar {
border-top: 10px solid #95c055;
}

.navbar .navbar-inner {
border: none;
border-radius: none;
}

.navbar .nav {
float: right;
}

/*
Masthead
*/

#masthead {
background: red;
color: white;
}

#masthead h1,
#masthead h1,
#masthead p {
color: white;
}


/*
Benefits
*/

#benefits {
background: #f5f5f5;
}

/*
Recipes 
*/

#recipes {
background: #f4f4f4;
}

#recipes h2, #recipes h3 {
text-align: center;
}

#recipes h3 {
font-size: 18px;
font-weight: normal;
color: #898989;
}

#recipes .btn {
margin-top: 25px;
margin-bottom: 25px;
}

/* 
Footer
*/

.footer {
background: #262626;
color: #EDEDED;
text-align: center;
padding:15px 0;
}

.footer a {
color: #EDEDED;

}

.footer .copyright {
color: #515151;
}

/*
BTN overrides
*/

.btn.btn-primary {
margin: 0 auto;
display: block;
width: 225px;
height: 30px;
font-size: 20px;
background: #f89036;
box-shadow: 0px 5px 1px #c6732b;
padding-top: 15px;
}
